<footer class="footer mt-auto py-3" style="background-color: rgb(0, 29, 71);">
  <div class="container text-center">
    <span class="text-muted">Rodapé do projeto.</span>
    <div class="mt-2">
      <a href="https://github.com" target="_blank" class="text-muted mx-2">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://linkedin.com" target="_blank" class="text-muted mx-2">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <span class="text-muted">Miguel Luiz Fredo</span>
  </div>
</footer>