<h1>Navegação com Rotas - Node Express</h1>
<h1>Vídeo teste</h1>
<img src="/images/Dragon-Ball-Logo.png" width="256" alt="Teste png" />

<iframe width="560" height="315" src="https://www.youtube.com/watch?v=rx7R4Coow40&ab_channel=LeonardoSouza"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>